:root {
  --primary-text-color: #b1b1b5;
  --secondary-text-color: #808080;
  --light-text-color: #ffffff;

  --background-color-dark: #32333d;
  --background-btn: #1976d2;

  --accent-color: #1976d2;
}
