<section class="dezgo__api">
  <div class="container">
    <div class="dezgo__form">
      <p class="form__label">Prompt</p>
      <p class="form__label--small">
        Опишите, как должно выглядеть конечное изображение
      </p>
      <textarea
        id="prompt"
        cols="30"
        rows="10"
        type="text"
        class="form__textarea"
      ></textarea>

      <p class="form__label">Модель</p>
      <p class="form__label--small">Stable-Diffusion используемая для создания изображения.</p>
      <select class="form__select" id="model">
        <option value="anything_3_0">Anything 3.0 (anime)</option>
        <option value="anything_4_0">Anything 4.0 (anime)</option>
        <option value="epic_diffusion_1_1" selected>
          Epic Diffusion 1.1 (general)
        </option>
        <option value="stablediffusion_1_4">
          Stable Diffusion 1.4 (general)
        </option>
        <option value="stablediffusion_1_5">
          Stable Diffusion 1.5 (general)
        </option>
        <option value="stablediffusion_2_1_512px">
          Stable Diffusion 2.1 (512px) (general)
        </option>

        <option value="vintedois_diffusion_v0_1">
          Vintedois Diffusion (simple, general)
        </option>
        <option value="waifudiffusion_1_3">Waifu Diffusion 1.3 (anime)</option>
        <option value="waifudiffusion_1_4">Waifu Diffusion 1.4 (anime)</option>
      </select>

      <p class="form__label">Разрешение</p>
      <p class="form__label--small">Выберите разрешение изображения</p>
      <input
        id="resolution"
        type="range"
        min="0"
        max="6"
        step="1"
        class="form__range"
      />
      <ul class="list range__descr">
        <li>Вертикальное</li>
        <li>Квадратное</li>
        <li>Горизонтальное</li>
      </ul>

      <p class="form__label">Негативный prompt</p>
      <p class="form__label--small">
        Опишите, чего вы НЕ хотите видеть в сгенерированном изображении
      </p>
      <textarea
        id="negativePrompt"
        cols="30"
        rows="10"
        type="text"
        class="form__textarea"
      >
(deformed, distorted, disfigured:1.3), poorly drawn, bad anatomy, wrong anatomy, extra limb, missing limb, floating limbs, (mutated hands and fingers:1.4), disconnected limbs, mutation, mutated, ugly, disgusting, blurry, amputation, watermark, signature</textarea
      >

      <p class="form__label">Guidance</p>
      <p class="form__label--small">
        Регулирует, насколько АИ пытается точно соответствовать заданному запросу
        (большее значение = строже, меньшее значение = больше свободы).
        Оптимальным является значение от 6 до 10, экстремальные значения могут привести
		к возникновению артефактов.
      </p>
      <div class="guidance__input">
        <p class="guidance__num" id="guidanceNum">7</p>
        <input
          id="guidance"
          type="range"
          min="0"
          max="20"
          step="1"
          class="form__range form__range--guidance"
        />
      </div>

      <p class="form__label">Sampler</p>
      <p class="form__label--small">
        Определяет метод выборки, используемый для генерации изображения.
      </p>
      <select class="form__select" id="sampler">
        <option value="ddim">DDIM</option>
        <option value="dpm">DPM</option>
        <option value="euler">Euler</option>
		<option value="k_lms">K-LMS</option>
		<option value="pndm">PNDM</option>
        <option value="euler_a" selected>Euler Ancestral</option>
      </select>

      <p class="form__label">Seed</p>
      <p class="form__label--small">
        Уникальный номер для создания изображения. Если он не предоставлен, 
		изображение будет создано случайным образом.
      </p>
      <input type="number" class="form__input" id="seed" />

      <p class="form__label">Steps</p>
      <p class="form__label--small">
        Количество шагов выборки. Больше шагов = больше деталей, 
		но также увеличивается время вычислений.
      </p>
      <div class="steps__input">
        <p class="steps__num" id="stepsNum">30</p>
        <input
          id="steps"
          type="range"
          min="10"
          max="150"
          step="1"
          value="30"
          class="form__range form__range--steps"
        />
      </div>

      <p class="form__label">Upscale</p>
      <p class="form__label--small">
        Увеличить размер изображения в указанное число раз 
		с использованием модели Real-ESRGAN. 
		В настоящее время поддерживается только множитель 2.
      </p>
      <input
        id="upscale"
        type="range"
        min="1"
        max="2"
        step="1"
        value="1"
        class="form__range"
      />
    </div>

    <div class="output__thumb">
      <h2 class="output__title">Вывод изображения</h2>
      <button type="button" class="button" id="runBtn">Создать🚀</button>
      <img id="generatedImg" class="output__img" />
    </div>
  </div>
</section>
